body {
    background-color: rgb(193, 176, 176);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
    color: antiquewhite;
    border: solid 1px  black;
    overflow:hidden;
    
}

h1 {
    background: linear-gradient(to right, #c64c7b,
    #a96233, #7e247e, #eedd44);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    font-size: 50px;
    text-align: center;
  
}

b{
    font-size: 60px;
}

p{
    text-align: center;
    overflow: hidden;
}


#seconds,
#tens {
    font-size: 65px;
    font-weight: 200;
   
}

.center{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        position: relative;
        top: 40%;
        left: 35%;
    
        
    }

.center > button {

    border-radius: 6px;
    background: rgb(165, 163, 163);
    color: rgb(109, 65, 6);
    border: solid 1px black;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    margin: 20px;

}

button:hover {
    transition:all .5s ease-in-out;
    background:rgb(132, 108, 123);
    color:rgb(204, 203, 203);
}
 @media only screen and (max-width : 600px){
    .center{
        margin: 0;
        position: relative;
        top: 40%;
        left: 10%;
        
        
    }
 }